*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    color: #ffffff;
    margin: auto;
    margin-top: 0;
    margin-bottom: 150px;
}
header .div-links{
    display: inline-flex;
    height: 15px;
    justify-content: center;
    align-items: flex-start;
    gap: 52px;
    flex-shrink: 0;
}
header .div-links a {
    color: #FFF;
    font-family: Source Sans Pro;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}
header a img {
    width: 167.016px;
    height: 29.461px;
    flex-shrink: 0;
}
.hero {
    position: relative;
    height: 1093px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Hide overflow to prevent the blend mode from affecting other content */
}

.hero::before {
    z-index: -5;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(85.9% 85.9% at 50% 14.1%, rgba(41, 48, 61, 0.00) 0%, #0716299a 100%), 
                url('images/Bitmap.png') center/cover no-repeat,
                rgba(0, 0, 0, 0.1) 0px 0px / 100% 100% no-repeat;
    background-blend-mode: multiply; /* Use multiply blend mode for the black and white effect */
    filter: grayscale(100%); /* Apply black and white filter to the background image only */
}
.hero::after {
    content: "";
    z-index: -4;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(85.9% 85.9% at 50% 14.1%, rgba(41, 48, 61, 0.00) 0%, #071629bd 100%);
}

.hero svg {
    z-index: -3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.hero-first-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.hero-title{
    color: #FFF;

    text-align: center;
    font-family: Source Sans Pro;
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.hero-text{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 59px ;
}
.heroText{
    color: #FFF;

    text-align: center;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.hero-btn{
    width: 162px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 22px;
    border: none;
    background: #C271FF;
    font-family: Source Sans Pro;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.50);
    color: #FFF;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.second-hero-div{
    display: flex;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.second-hero-div h2{
    color: #FFF;
    font-family: Source Sans Pro;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.learn{
    color: #C271FF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.pros{
    width: 1152px;
    height: 237px;
    flex-shrink: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 100px;
}
.pros1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pros1 h3{
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 27px; /* 150% */
}
.pros1 p{
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px; /* 150% */

}
.pros1 img{
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    border-radius: 50%;
    margin-bottom: 10px;
}
.sec2 {
    width: 100%;
    height: 392px;
    flex-shrink: 0;
    background-color: #C271FF;
    justify-content: center;
    align-items: center;
    display: flex;

}
.sec2-div1 {
    justify-content: center;
    align-items: center;
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.sec2-div1 img {
    border-radius: 50%;
}
.sec2-div1-div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    color: #FFF;
}
.quo {
    width: 730px;
    color: #FFF;
    font-family: Source Sans Pro;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33.6px; /* 152.727% */
}
.Name {
    color: #FFF;
    font-family: Source Sans Pro;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 33.6px; /* 152.727% */
}
.sub {
    color: #FFF;
    font-family: Source Sans Pro;
    font-size: 22px;
    font-style: italic;
    font-weight: 400;
    line-height: 33.6px; /* 152.727% */
}
.sec3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 80px;
}
.sec3-div1 {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 450px;
    margin: auto;
    justify-content: space-between;
}
.titleh1 {
    color: #071629;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 50px;
}
.sec3-div1-div {
    position: relative;
}
.image-vid {
    border-radius: 5px;
    margin-bottom: 15px;
}
.image-container {
    position: relative;
    justify-content: center;
    align-items: center;
}
.overlay {
    position: absolute;
    top: 45%;
    left: 48%;
    transform: translate(-50%, -50%);
}
.sec3-div1-div h1 {
    color: #071629;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 8px;
}
.sec3-div1-div p {
    color: rgba(7, 22, 41, 0.50);
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}
.person {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    gap: 15px;
    margin-bottom: 15px;
    color: #C271FF;
}
.person h2 {
    font-family:  Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px; /* 192.857% */
}
.person img {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 50%;
}

  .rating {
    display: flex;
    flex-direction: row;
    gap: 75px;
}
.rating p {
    color: #C271FF;
    text-align: right;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px; /* 192.857% */
}

.sec4 {
    width: 100%;
    height: 502px;
    background-color: #071629;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.sec4 h1 {
    color: #FFF;
    font-family: Source Sans Pro;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.sec4-div1 {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 50px;
}
.sec4-div1-div {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.sec4-div1-div img{
    margin-bottom: 27px;
}
.sec4-div1-div h2 {
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; /* 144.444% */
    margin-bottom: 13px;
}
.sec4-div1-div p {
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 185.714% */
}
.sec5 {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.sec5 h1 {
    margin-top: 65px;
    color: #071629;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 60px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 75px;
}
.sec5-div {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.sec5-div1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 70px;
}
.sec5-div1 h2 {
    color: #071629;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
}
.sec5-div1 p {
    color: rgba(7, 22, 41, 0.50);
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}
footer {
    width: 100%;
    height: 249px;
    background-color: #071629;
}
.footer-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
    margin-top: 50px;
}
footer .logo {
    width: 100%;
    height: 100%;
    margin-top: 120px;
    
}
.links {
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    width: 60px;
    gap: 20px;
}
.links image {
    justify-content: center;
    align-items: center;
    background-size: cover;
}