/* My style */
$color : #3D3D3D;
$background : #6D6D6D;
body {
    color: $color;
    background-color: $background;
    .container {
    }
}
p {
    color: $color;
}
h2 {
    background-color: $background;
}