/* My style */
@mixin margins($bodymargin: 10px, $divmargin: 15px){
    body {
        margin-left: $bodymargin;
        margin-right: $bodymargin;
    }
    div {
        margin-left: $divmargin;
        margin-right: $divmargin;
    }
}
@include margins;
